.list-items {
  background-color: #4741a6;
  color: #d9eff7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #d9eff7;
}
.list-items div {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
}

.list-items p {
  padding: 10px 0;
  margin: 0;
}

.Task {
  width: 55%;
}
.Date {
  width: 30%;
}
.Action {
  width: 15%;
}
.list-items .icon {
  color: #f9ce09;
  cursor: pointer;
}
.list-items span {
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid white;
}
.list-items .Title {
  background-color: #f9ce09;
  padding: 10px;
}
